*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    overflow-x: auto;
    overflow-y: auto;
}
.nav{
    width: 200px;
    height: auto;
    background-color: none;
    position: absolute;
    top: 20%;
    left: 1%;
}
.nav a{
    text-decoration: none;
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;  
    height: 100px;
    margin: 5px 0;
    display: inline-block;
    color:black;
    line-height: 30px;
    text-align: center;
    transition: 1200ms;
}
a.active, .nav a:hover{
    color: darkblue;    
}

.content{
    position: absolute;
    width: 930px;
    min-height: 200px;
    max-height: 1000;
    right: 0;
    top: 0;
}
.home{
    position: absolute;
    left: -10%;
    top: 30%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.home h1{
    font-size: 56px;
    padding-right: 5px 0;
    border-bottom: 3px solid black
}
.home h2{
    font-size: 56px;
    padding: 5px 0;
    opacity: 0.8;
}
.biodata{
    position: absolute;
    top: 10%;
    left: -10%;
    background-color:whitesmoke;
    opacity: 0.8;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    display: none;
}
.biodata h3{
    font-size: 56px;
    padding-right: 5px 0;
    border-bottom: 3px solid black;
}
.biodata h7{
    font-size: 32px;
    padding-right: 5px 0;
}
.swot{
    position: absolute;
    width: 700px;
    height: 800px;
    right: 25%;
    top: 0;
    color: black;
    text-align: center;
    display: none;
}
.swot .image{
    width: 100%;
    height: 100%;
    float: left;
}
.image img{
    width: 100%;
    height: 100%;
}
.exp{
    position: fixed;
    top: 40%;
    left: 40%;
    text-decoration: none;
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;  
    text-align: center;
    color: black;
    display: none;
}